fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4
python-multipart==0.0.9
firebase-admin==6.5.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
faiss-cpu==1.8.0
pillow==10.2.0
onnxruntime==1.17.1
insightface==0.7.3
gunicorn==21.2.0
